{% extends "base.html" %}


{% block title %}{{ section.title }}{% endblock %}

{% load multiply %}
{% load tofloat %}


{% block content %}


<div class="p-5">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
    <div class="col-xl-4 col-md-6 mb-4 w-33">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">


                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Balance (USD)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_balance}}$</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Largest Asset</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ largest_asset }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <h3>Add Assets</h3>
                        <div class="col mr-2">
                        <form action="" method="post" class="user">
                            {% csrf_token %}
                            {{ AddAssetform }}
                            
                        </div>
                        <div class="col-auto">
                            <input type="submit" value="Add Asset" name="Add Asset" class="btn btn-primary btn-user btn-block w-100">
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <h3>Add Holdings</h3>
                        <div class="col mr-2">
                        <form action="" method="post" class="user">
                            {% csrf_token %}
                            {{ AddHoldingForm }}
                            
                        </div>
                        <div class="col-auto">
                            <input type="submit" value="Add Holding" name="Add Holding" class="btn btn-primary btn-user btn-block w-100">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {% for crypto in assets %}
        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {{ crypto.ticker }}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id={{crypto.ticker}}price>{{ crypto.price_set.all.last.last_price }} $</div>
                                {% if crypto.price_set.all.last.pricechange > 0 %} 
                                    <div class="h5 mb-0 font-weight-bold text-success" id={{crypto.ticker}}pricechange>+ {{ crypto.price_set.all.last.pricechange }} %</div>
                                {% else %}
                                    <div class="h5 mb-0 font-weight-bold text-warning" id={{crypto.ticker}}pricechange>{{ crypto.price_set.all.last.pricechange }} %</div>
                                {% endif %}

                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            $(document).ready(function () {
                setInterval(function () {
                    $.ajax({
                        url: '{% url 'getdata' %}',
                        type: "get",
                        cache: true,
                        dataType: 'html',
                        success: function (data) {
                            console.log("success" + data);
                            const obj = JSON.parse(data);
                            document.getElementById('{{crypto.ticker}}price').innerHTML = obj.{{ crypto.ticker }} + "$";
                            document.getElementById('{{crypto.ticker}}pricechange').innerHTML = obj.{{ crypto.ticker }}change + "%";

                        },
                        error: function (data) {
                            alert("Got an error dude " + data);
                        }
                    });
                }, 60000);
            });
        </script>

            <div class="col-xl-9 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="{{ crypto.ticker }}" style="display: block; height: 150px; width: 1000px;" class="chartjs-render-monitor" width="2100" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      <p></p>

      <p></p>
    {% endfor %}
        <script type="text/javascript">
            $(function () {
                {% for crypto in assets %}

                var ctx = document.getElementById("{{ crypto.ticker }}").getContext('2d');
                var data = {
                    datasets: [{
                        label: '{{ crypto.ticker }} market',
                        borderColor: "#FF0000",
                        data: [
                        {% for price in crypto.price_set.all %}
                            {x:'{{ price.created_at }}', y:'{{ price.last_price }}'},
                        {% endfor %}]
                    }]
                };
                var {{ crypto.ticker }} = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        scales: {
                            xAxis: {
                                ticks: {
                                    display: false //this will remove only the label
                                }
                            }
                        },
                        legend: {
                            position: 'bottom',
                            labels: {
                                boxWidth: 12
                            }
                        }
                    }
                });
                {% endfor %}
            });

    </script>
                
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Holdings overview</h6>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 33%;">Asset</th><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 33%;">Amount</th><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 33%;">Current value in $</th></tr>
                        </thead>
                        <tfoot>
                            <tr><th rowspan="1" colspan="1">asset</th><th rowspan="1" colspan="1">Amount</th><th rowspan="1" colspan="1">current value in $</th></tr>
                        </tfoot>
                        <tbody>
                            {% for i in holdings %}
                            <tr>
                                <td>{{ i.asset.ticker }}</td>
                                <td>{{ i.amount|tofloat }}</td>
                                <td>{{ i.amount| multiply:i.asset.price_set.all.last.last_price }} $</td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                                    

    </div>



                
</div>


{% endblock %}